absl-py==1.4.0
accelerate @ git+https://github.com/huggingface/accelerate@2a289f6108e77a77a4efffb3f6316bc98538413b
addict==2.4.0
aiohttp==3.8.5
aiosignal==1.3.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
-e git+https://github.com/AblateIt/axolotl.git@fae6ed8092102d3b28d9ab492925c1d2647b2d2c#egg=axolotl
bert-score==0.3.13
bitsandbytes==0.41.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
cmake==3.27.1
coloredlogs==15.0.1
contourpy==1.1.0
cycler==0.11.0
datasets==2.14.4
dill==0.3.7
docker-pycreds==0.4.0
einops==0.6.1
evaluate==0.4.0
filelock==3.12.2
fire==0.5.0
fonttools==4.42.0
frozenlist==1.4.0
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.32
hf-transfer==0.1.3
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
importlib-resources==6.0.1
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.4
lit==16.0.6
MarkupSafe==2.1.3
matplotlib==3.7.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
optimum==1.11.1
packaging==23.1
pandas==2.0.3
pathtools==0.1.2
peft @ git+https://github.com/huggingface/peft.git@a916465ad0970944f3241305071d9b79fae55b59
Pillow==10.0.0
protobuf==4.24.0
psutil==5.9.5
pyarrow==12.0.1
pynvml==11.5.0
pyparsing==3.0.9
pyre-extensions==0.0.29
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
regex==2023.8.8
requests==2.31.0
responses==0.18.0
rouge-score==0.1.2
safetensors==0.3.2
scikit-learn==1.2.2
scipy==1.11.1
sentencepiece==0.1.99
sentry-sdk==1.29.2
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sympy==1.12
termcolor==2.3.0
threadpoolctl==3.2.0
tokenizers==0.13.3
torch==2.0.1
tqdm==4.66.1
transformers @ git+https://github.com/huggingface/transformers.git@fe3c8ab1af558b95f67f5fafc0c55f09fd2b09db
triton==2.0.0
typing-extensions==4.7.1
typing-inspect==0.9.0
tzdata==2023.3
urllib3==2.0.4
wandb==0.15.8
xformers==0.0.20
xxhash==3.3.0
yarl==1.9.2
zipp==3.16.2
